# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/

# IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/coverage/

# Android build outputs
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/.gradle/
**/android/local.properties

# Exclude other builds but KEEP service_finder/build/web for Cloudflare Pages
service_finder_admin/build/
service_finder/build/app/
service_finder/build/cloud_firestore/
service_finder/build/firebase_auth/
service_finder/build/firebase_core/
service_finder/build/firebase_messaging/
service_finder/build/firebase_storage/
service_finder/build/geolocator_android/
service_finder/build/google_sign_in_android/
service_finder/build/image_picker_android/
